.topnav{
  background-color:#FF8D74;
  color:#FFF;
  overflow:hidden;
  padding-top:5px;
  padding-bottom:5px;
  width:100%;
}
.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #eb6e52;
  color: #fff;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #FF8D74;
  color: white;
}
.raidenshogun{
  background-color:#be95ff;
  color:white;
  width:100%;
  padding-top:50%;
  background-image:"https://faliouca.github.io/raiden%20hehe.webp";
}