.topnav{
  background-color:#FF8D74;
  color:#FFF;
  overflow:hidden;
  padding-top:5px;
  padding-bottom:5px;
  padding-right:5px;
  width:100%;
}
.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #eb6e52;
  color: #fff;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: #FF8D74;
  color: white;
}
.raidenshogun{
  background-color:#dad1e8;
  color:white;
  width:100%;
  padding-top:20%;
  background-image:url("https://faliouca.github.io/raiden%20hehe.webp");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}